frontend/
*.md
.git
.gitignore
docker-compose*.yml
venv/
backend/venv/
backend/uploads/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.pytest_cache/
node_modules/
.next/
.vercel/
**/.venv
**/.env
**/.vs
**/.vscode
**/bin
**/charts
**/compose*
**/npm-debug.log
**/obj
LICENSE
